<!-- <footer>
  <h1>Job Portal</h1>
  <p>All rights are reserved! </p>
</footer> -->
<footer id="Footer" class="page-footer font-small pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold mt-3 mb-4">About our Company</h5>
        <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and aids employers in their quest to locate ideal candidates. </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div id="link10" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>
          <a routerLink="/home">Our latest pro</a>
        </p>
        <p>
          <a routerLink="/home">About</a>
        </p>
        <p>
          <a routerLink="/home">Brand Flow</a>
        </p>
        <p>
          <a routerLink="/home">Services</a>
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div id="link10" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>
          <a routerLink="/home">Your Account</a>
        </p>
        <p>
          <a routerLink="/home">Become an Affiliate</a>
        </p>
        <p>
          <a routerLink="/home"> Rates</a>
        </p>
        <p>
          <a routerLink="/home">Help</a>
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <fa-icon [icon]="Home"></fa-icon> Burnaby, BC</p>
        <p>
          <fa-icon [icon]="Email"></fa-icon> ismail7ahmadi@gmail.com</p>
        <p>
          <fa-icon [icon]="Phone"></fa-icon> + 1 365 476 2022</p>

      </div>
    </div>
  </div>
  <hr>
  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a routerLink="/home" class="btn btn-outline-color btn-outline-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <hr>
  <!-- Social buttons -->
  <div class="hover-effect1">
  <ul   class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a routerLink="/home"title="Twitter"><fa-icon [icon]="fa1"></fa-icon></a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/home" title="Instagram"><fa-icon [icon]="fa2"></fa-icon></a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/home" title="Youtube"><fa-icon [icon]="fa3"></fa-icon></a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/home" title="Github"><fa-icon [icon]="fa4"></fa-icon></a>
    </li>
  </ul>
</div>
  <!-- Copyright -->
  <div  class="footer-copyright text-center py-3">
    <p>Copyright© 2023: Design and Develop by <a href="https://www.ismailahmadi.com/">Ismail Ahmadi</a> </p>
  </div>
</footer>
