a:hover {
  color: var(--primary-color);
}

section {
  width: 100%;
  margin-top: -10px;
  /* background-color: yellow; */
  height: 100px;
}
.navbar-brand-name{
  /* background-color: red; */
  width: auto;
  font-size: 2rem;
  margin: 0 0;
  position: relative;
}
.container-main {
  background-color: blue;
}
.nav-main {
  display: block;
  /* background-color: aqua; */
}
a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
   display: none;
}




/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
  z-index: 120;
  /* background-color: blueviolet; */
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: var(--color-primary);
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ============== Media Query (Medium Devices)=============== */
@media screen and (max-width:1324px){
  .container-main {
    /* background-color: orange; */
  }
}
@media screen and (max-width:1014px){
  .nav-main {
    display: none;
    /* background-color: blue; */
  }
  .p-menu1{
    display: block;
 }
 .navbar-brand-name {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 0 10px;

 }

}
/* ============== Media Query (Small Devices)=============== */
@media screen and (max-width:600px){
  /* .container-main {
    background-color: blue;
  } */
  div > a {
    font-size: 1.5rem;
    margin-top: 0.6rem;
  }
}
