<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container px-lg-5">
    <a class=" navbar-brand-name " [routerLinkActiveOptions]="{exact:true}" routerLink="/" routerLinkActive="active">
      <fa-icon [icon]="Logo"></fa-icon>
      Job Portal
    </a>
    <!-- <button class="navbar-toggler"  type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button> -->
    <section class="p-menu1">
      <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox" />
        <label class="hamburger1" for="toggle1">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>

        <nav class="menu1">
          <!-- <a class="link1" routerLinkActive="active" routerLinkActive="{exact:true}" routerLink="/">Home</a> -->
          <a class="link1" routerLink="/admin" > <fa-icon [icon]="Admin"></fa-icon> Admin</a>
          <a class="link1" routerLink="/jobs"><fa-icon [icon]="Jobs"></fa-icon> Jobs</a>
          <ng-container *ngIf="(currentLoginStatus$ | async) as currentLogin; else loginTemplate2">
            <a class="link1" routerLink="/home" (click)="logout()"> Logout <fa-icon [icon]="Logout"></fa-icon></a>
          </ng-container>

          <ng-template #loginTemplate2>
            <a class="link1" routerLink="/login"><fa-icon [icon]="Login"></fa-icon> Login</a>
          </ng-template>

        </nav>
      </nav>
    </section>

    <div class="nav-main" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/admin"
            class="nav-link">  <fa-icon [icon]="Admin"></fa-icon> Admin</a>
        </li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/jobs"  class="nav-link">  <fa-icon [icon]="Jobs"></fa-icon> Jobs</a>
        </li>
        <ng-container *ngIf="(currentLoginStatus$ | async) as currentLogin; else loginTemplate">
          <li (click)="logout()" class="nav-item" routerLinkActive="active"><a routerLink="/home"  class="nav-link"> Logout <fa-icon [icon]="Logout"></fa-icon> </a></li>
        </ng-container>
        <ng-template #loginTemplate>
          <li class="nav-item" routerLinkActive="active"><a routerLink="/login"  class="nav-link">  <fa-icon [icon]="Login"></fa-icon> Login</a></li>
        </ng-template>


      </ul>
    </div>
  </div>
</nav>
