<app-navbar></app-navbar>
<app-banner ></app-banner>
<router-outlet></router-outlet>
<!-- <section *ngIf="(jobs$ | async) as jobs">
  <div class="container-main">
    <div class="links">
      <ul>
        <li><a >All</a></li>
        <li><a >Front End</a></li>
        <li><a >Back End</a></li>
        <li><a >Full Stack</a></li>
      </ul>
    </div>
  </div>
  <div class="container-itemJob" >
    <ng-container *ngFor="let itemJob of jobs">
      <app-cards [job]="itemJob"></app-cards>
    </ng-container>
  </div>
</section> -->
<app-footer></app-footer>

